{#
  Display a formatted summary of MySQL-specific data.

  @param array systemInfo: the results from System.get API
 #}
{% macro mysql_summary(systemInfo) %}

    {% if systemInfo.mysql.vars is defined %}
        <table class="table table-striped">
            <tbody>
            {% for iniKey, iniValue in systemInfo.mysql.vars %}
                <tr>
                    <td class="col-md-1"><span class="badge">var</span> <label>{{ iniKey }}</label></td>
                    <td class="col-md-8"><code>{{ iniValue }}</code></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>(No additional data)</em>
    {% endif %}
{% endmacro %}
