{% extends 'base.html.twig' %}

{% block title %}{% trans %}Site Profile{% endtrans %} ({{ settings.pubId }}){% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/civicxnprofile/profile.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{% trans %}Site Profile{% endtrans %}
            <small>({{ settings.pubId }})</small>

        </h1>
    </div>

    {#<div>#}
    {#<span class="label label-civi">CiviCRM v4.4.1</span>#}
    {#<span class="label label-cms">Drupal 7</span>#}
    {#<span class="label label-php">PHP v5.4.1</span>#}
    {#<span class="label label-mysql">MySQL v5.5.1</span>#}
    {#</div>#}

    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">CiviCRM <span class="badge">v4.6.4</span></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td class="col-md-1">Developmental</td>
                            <td class="col-md-8">Yes</td>
                        </tr>
                        <tr>
                            <td class="col-md-1">Components</td>
                            <td class="col-md-8">CiviContribute, CiviEvent, CiviMail</td>
                        </tr>
                        <tr>
                            <td class="col-md-1">Extensions</td>
                            <td class="col-md-8">
                                <ul>
                                    <li>org.civicrm.module.cividiscount</li>
                                    <li>eu.tttp.civisualize</li>
                                    <li>org.civicrm.volunteer</li>
                                </ul>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Drupal <span class="badge">v7.29</span></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td class="col-md-1">Modules</td>
                            <td class="col-md-8">
                                <ul>
                                    <li>drupal.block</li>
                                    <li>drupal.color</li>
                                    <li>drupal.civicrm</li>
                                    <li>drupal.civicrm_webtest</li>
                                    <li>...</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">MySQL <span class="badge">v5.6.2</span></h3>
                </div>
                <div class="panel-body">
                    <em>(No additional data)</em>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">PHP <span class="badge">v5.4.10</span></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td class="col-md-1">Timezone</td>
                            <td class="col-md-8">
                                US/Pacific
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">Extensions</td>
                            <td class="col-md-8">
                                <ul>
                                    <li>date</li>
                                    <li>ereg</li>
                                    <li>libxml</li>
                                    <li>openssl</li>
                                    <li>...</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-1">INI: allow_url_fopen</td>
                            <td class="col-md-8">1</td>
                        </tr>
                        <tr>
                            <td class="col-md-1">INI: allow_url_include</td>
                            <td class="col-md-8">0</td>
                        </tr>
                        <tr>
                            <td class="col-md-1">INI: ...</td>
                            <td class="col-md-8">...</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group text-center">
                <a href="#" class="list-group-item active">
                    Latest
                </a>
                <a href="#" class="list-group-item">2015-01-10</a>
                <a href="#" class="list-group-item">2015-01-04</a>
                <a href="#" class="list-group-item">2015-01-02</a>
            </div>
        </div>
    </div>

{% endblock %}
