/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/cxn/*/app.crt
/app/cxn/*/app.req
/app/cxn/*/democa.crt
/app/cxn/*/keys.json
/app/cxn/*/url.txt
/app/dirsvc
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
