body {
  padding: 1em;
}
div.cxn-jumbo {
  margin: 0.5em auto;
  width: 80%;
  text-align: center;
}
div.cxn-jumbo .dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}